/* @font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato-Bold.ttf);
} */

header .logo a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.hero,
.sign-up {
    /* padding: 150px 0; */
    height: 80vh;
    background-image: url(../images/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .content,
.sign-up .content {
    width: 45%;
    text-align: center;
}

.hero .content h1,
.sign-up .content h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.testimonials .item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.sign-up {
    padding: 100px 0;
    background-image: url(../images/bg-masthead.jpg);
    height: unset;
}

.sign-up .content h1 {
    font-size: 32px;
}

section {
    overflow-x: hidden;
}

.social{
    font-size: 14px;
}